@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h1>Reservation and Booking Management System</h1>
    <p>See the "Members/Guests" tab to view and edit registered restaurant visitors.</p>
    <p>See the "Reservations" tab to view and edit reservations.</p>
</div>
