@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Contained here is a list of registered space-exploration vehicles, each item of which includes the 
        location, status and launch date of the vehicle in question. As every entry is uniquely indexed by 
        a valid COSPAR ID, if a vessel did not successfully enter Earth orbit, it is not listed here.
    </p>
</div>
